pi-hole.mmazur.org, {$MESH_IP}, {$LOCAL_IP}, localhost, 127.0.0.1 {
    # Redirect all HTTP traffic from / to /admin
    redir / /admin/
    # Redirect all traffic to 
    reverse_proxy pihole:80
    # Using internal SSL certificate
    tls internal
}